@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

.container {
    max-width: 1110px;
    width: 100%;
    margin: 0 auto;
}

.header {
    padding: 52px 0;
}

.text-gold {
    color: #d1a954;
    padding: 7px 9px;
    border: 1px solid rgba(209, 169, 84, 0.9);
}

.text-gold-bold {
    color: #d1a954;
    font-weight: 700;
}

.card {
    position: relative;
}

.card-body-overlay {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(209, 169, 84, 0.9);
    color: white;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.card-body-overlay div {
    padding: 20px 0;
    border: 1px solid rgba(255, 255, 255, 0.5);
}

.card-body h5 {
    color: #fff;
    font-size: 30px;
    font-weight: 400;
    text-transform: uppercase;
}

.card-body p {
    font-size: 14px;
    font-weight: 400;
    line-height: 135%; /* 18.9px */
}

.about-restaurant {
    margin-top: 120px;
    margin-bottom: 300px;
}

.about-restaurant-text {
    gap: 25px;
}

.about-restaurant-text h2 {
    color: #222;
    font-size: 36px;
    font-weight: 300;
    line-height: 145%; /* 52.2px */
    letter-spacing: 1.8px;
}

.restaraunt-features {
    background: #F9F7F7;
    padding-top: 330px;
    position: relative;
    padding-bottom: 90px;
}


.video-features {
    max-width: 920px;
    width: 100%;
    top: -360px;
}

.restaraunt-features .row p {
    color: var(--gray, #616161);
    font-size: 14px;
    font-weight: 300;
    line-height: 135%; /* 18.9px */
}

/* gallery */

.gallery {
    margin-top: 120px;
}

.grid-wrapper {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    }
    
.grid-wrapper div:nth-child(1) {
    grid-area: 1 / 1 / 5 / 4;
}

.grid-wrapper div:nth-child(2) {
    grid-area: 1 / 4 / 5 / 9;
}

.grid-wrapper div:nth-child(3){
    grid-area: 1 / 9 / 5 / 13;
}

.grid-wrapper div:nth-child(6) {
    grid-area: 5 / 8 / 9 / 13;
}

.grid-wrapper div:nth-child(5){
    grid-area: 9 / 8 / 13 / 13;
}

.grid-wrapper div:nth-child(4){
    grid-area: 5 / 1 / 13 / 8;
}